{% extends 'base.html.twig' %}

{% block title 'Agence fictive de Benjamin Stoltz' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence fictive de Benjamin Stoltz</h1>
		<p>Bonjour et bienvenue sur mon agence fictive. Ce site est crée en PHP Symphony et sert de démonstration. J'ai utiliser ce site pour m'auto-former sur Symphony et développer mes compétences. </p>
	</div>
	<div class="container">
		<h2>Les derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					{% include "property/_property.html.twig" %}

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
